// $backgroundColor: hsl(210,50%,40%);
// $backgroundColor: hsl(16,98%,63%);
// $backgroundLightColor: #7SFF19;
// $baseColor: #142CCC;
// $baseDarkColor: #091EB2;
// $foregroundColor: hsl(210,50%,80%);
// $accentColor: #FF4500;
$white: #FFE5FF;
$whiteLight: white;
// $whiteDark: #E8D4D1;
$whiteDark: #F5F5F5;

$black: #333;
// $blackLight: black;
$blackDark: black;

$baseColor: #FF4500;
$baseColorLight: #FF950D;
$baseColorDark: #FF0D1F;

$backgroundColor: #142CCC;
// $backgroundColorLight: #0A92D9;
// $backgroundColorLight: #1e304c;
$backgroundColorLight: #1470B0;
// $backgroundColorLight: #0B60E3;
$backgroundColorDark: #5F0AD9;

$accentColor: #75FF19;
$accentColorLight: #0CFF47;
$accentColorDark: #FFF80C;

$border: 1px solid $baseColorDark;
$fontColor: $white;
