@import 'bourbon';
@import 'neat';
@import 'variables';
@import 'mobile';

.back-to-top {
    float: right;
    margin-top: 4rem;
    margin-bottom: 5rem;
    font-size: 0.7rem;
    font-weight: lighter;

    @include media($mobile) {
        float: none;
        text-align: center;
        font-size: 1.5rem;
    }

    @include media($tablet) {
        float: none;
        text-align: center;
        font-size: 1rem;
    }

    a {
        font-color: $baseColorLight;
    }
}