@import 'bourbon';
@import 'neat';
@import '_variables';

footer.bottom {
    background-color: $black;    
    margin-top: 5em;
    padding-top: 3em;
    

    .inner {
        @include outer-container;

        div.footer-content {
            @include span-columns(12);
            
            position:relative;
            height: 10em;
            
            div.left-pad, nav.footer-page-nav, ul.footer-social {
                @include span-columns(4);
            }

            ul.footer-social li {
                display: inline-block;
                margin-right: 0.5rem;
                font-size: 1.5rem;
            }

            a {
                color: $white;                
            }

            li {
                margin-top: 1rem;
            }

            div.footer-text-container {
                position: absolute;
                right: 5%;
                bottom: 10%;
                color: $white;
            }

            h1 {
                margin:0;
                padding:0;
            }

            div.social {
                float:right;
            }    

            
        }       
    }
}

