@import 'mobile';
@import 'bourbon';
@import 'neat';
@import 'variables';

header.top {
    background-color: $backgroundColorLight;    

    .inner {
        @include outer-container;
        
        nav.page-nav, div.header-content {
            @include span-columns(12)
        }

        div.header-content {
            position:relative;
            height: 100%;
            
            div.header-text-container {
                position: absolute;
                right: 5%;
                // right: 0;
                bottom: 10%;
                color: $white;
            }

            h1 {
                margin:0;
                padding:0;
                border-bottom: 1px solid $white;
                padding-bottom: 10px;
                margin-bottom: 10px;

                @include media($mobile) {
                    border-bottom: none;
                    padding-bottom: 2px;
                    margin-bottom: 2px;
                }

                @include media($tablet) {
                    border-bottom: none;
                    padding-bottom: 2px;
                    margin-bottom: 2px;
                }
            }

            div.social {
                width: 100%;
                text-align: center;
                font-weight: 900;
                text-transform: uppercase;

                @include media($mobile) {
                    text-align:left;
                    font-size: 1.5rem;
                }

                @include media($tablet) {
                    text-align:left;
                    font-size: 1.5rem;
                }
            }    
        }  
    }
}

