@charset "UTF-8";
@import 'bourbon';
@import 'neat';
@import '_variables';
// @import 'forms';
@import 'header';
@import 'page_nav';
@import 'portfolio';
@import 'footer';
@import 'overlay';
@import 'toasts';
@import 'modals';

body {
    // color: $black;    
    color: rgba(0,0,0,0.71);
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', 'Helvetica Neue', 'Helvetica',' Arial', sans-serif;
    color: $black;
}

h1 {
    font-size: 3rem;
    color: $whiteLight;
}

h1, h2 {    
    font-weight: lighter;
    text-transform: uppercase;
}

h2 {
    // text-align: center;
    font-size: 2.5em;
    margin: 0;
    // border-top: 3px double $baseColorLight;
}

section.container header {
    padding-top: 1em;
    margin-bottom: 2em;
}

a {
    color: $baseColor;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: $baseColorDark;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
