@charset "UTF-8";
@import 'variables';
@import 'bourbon';
@import 'neat';
@import 'mobile';
@import 'typography';
@import 'header';
@import 'page_nav';
@import 'portfolio';
@import 'footer';
@import 'overlay';
@import 'toasts';
@import 'modals';


section.container {
    @include media($mobile) {
        padding: 1em;
    }

    @include media($tablet) {
        padding: 1em;
    }
}

section.container header {
    padding-top: 1em;
    margin-bottom: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a.btn {
    @include media($mobile) {
        width: 100%;
        height: 60px;
        line-height: 60px;
        font-size: 1.5rem;
    }

    @include media($tablet) {
        width: 100%;
        height: 60px;
        line-height: 60px;
        font-size: 1.5rem;
    }
}