@import 'bourbon';
@import 'neat';
@import '_variables';
@import 'mobile';

nav.page-nav {
    position: relative;
    height: 40px;
    padding-top: 2em;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        @include media($mobile) {
            margin-left: 1em;
        }
    }

    li {
        display: inline-block;
        padding: 0 2em 0 2em;
        margin:0;
        height: 40px;
        line-height: 40px;
        border-bottom: 3px solid $backgroundColorLight;

        a {
            color: $whiteLight;
            text-decoration: none;
        }

        a:hover {
            color: $whiteDark;

        }

        @include media($mobile) {
            padding: 0 0.5em 0 0.5em;
        }
    }

    li:hover {
        border-bottom: 3px solid $whiteLight;
    }

    li.right {
        float: right;
    }
}