@import 'bourbon';
@import 'neat';
@import '_variables';
@import 'chips';

section.portfolio {
    @include outer-container;
    
    padding-top: 3em;

    div.portfolio-selected-categories {
        float: right;
        clear:both;
        min-height: 37px;
        // margin-right:
    }

    nav.portfolio-categories { 
        @include span-columns(3); 
        clear:both;

        li {
            padding-left: 20px;
            color: $black;
            height: 40px;
            line-height: 40px;
            border-left: 4px solid $whiteDark;
        }

        li:hover {
            border-left: 4px solid $baseColorLight;
        }

        li.active {
            border-left: 4px solid $baseColor;
        }
    }
    
    section {
        @include span-columns(9);
    }
}

section.portfolio-items {
    @include outer-container;
    $imgPadding: 100px;

    div.portfolio-item {
        width: 48%;
        height: 15em;
        min-height: 1px;
        float: left;        
        margin: 0.5rem 1rem 1rem 0;
        transition: box-shadow .25s;
        box-shadow: 0 2px 5px 0;
        border-radius: 2px;
        position: relative;
        padding-right: $imgPadding;
    }

    div.portfolio-image {
        position: absolute;
        right: 0;
    }

    

    div.portfolio-header {
        padding: 1em 0 0 1em;
        margin: 0;
        
        h3 {
            cursor: pointer;
        }    
    }

    div.portfolio-categories {
        // float: right;
        // margin-top: 2rem;
        // margin-right: 1rem;
        margin-left: 1rem;
    }
    
    div.portfolio-description {
        padding: 0 1rem 0 1rem;
        clear:both;
        // padding-right: $imgPadding;
    }
    
    div.portfolio-actions {
        position: absolute;
        bottom: 0.5rem;
        border-top: 1px solid rgba(160,160,160,0.2);
        padding: 20px;
        // width: 100%;
        width: 328.59px;
        // color: $white;
        
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            display: inline-block;
            margin-right: 2rem;
        }

        
    }
}
